.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  padding: 28px 28px 36px;
  overflow: hidden;
}

.modal__close-button {
  position: absolute;
  top: 23px;
  right: 31px;
  background: transparent;
  width: 20px;
  height: 20px;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal-form__heading {
  margin: 0 0 24px 0;
}

.modal-form__children {
  display: flex;
  flex-direction: column;
}

.modal-form__input-field {
  border-style: none none solid none;
  border-bottom-width: 1px;
  margin-bottom: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.modal-form__input-title {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.modal-form__text {
  margin: 12px 0;
}

.modal-form__radio-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form__radio {
  display: flex;
  gap: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal-form__radio-button {
  accent-color: black;
}

.modal-form__radio-button:checked ~ label {
  color: black;
}

.modal-form__button:hover {
  cursor: pointer;
}

.modal-form__button:hover {
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-form__submit-button {
  margin-top: 32px;
  width: 124px;
  height: 36px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 0;
  border-radius: 4px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.modal-form__submit-button_valid {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.modal-form__submit-button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 1);
}

.modal__or-button {
  background-color: transparent;
  border: none;
  font-family: "Cabinet-Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 8px 0;
  color: rgba(0, 0, 0, 0.3);
}

.modal__or-button:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
