.item-modal__content {
  padding: 0;
}

.item-modal__image {
  width: 100%;
}

.item-modal__bottom {
  padding: 12px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-modal__delete {
  position: absolute;
  right: 32px;
  bottom: 68px;
  background: white;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
}

.item-modal__delete:hover {
  cursor: pointer;
}
