.sidebar {
  font-weight: 700;
  font-size: 20px;
}

.sidebar__meta-wrap {
  display: flex;
  align-items: center;
}

.sidebar__username {
  margin: 0 16px;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 14px 0 0 0;
  font-weight: 700;
  transition: 0.1s;
}

.sidebar__button:hover {
  color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
