.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 18px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  height: 40px;
  width: 89px;
}

.header__date {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__button:hover {
  cursor: pointer;
}

.header__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__switch {
  position: relative;
  display: flex;
  width: 56px;
  height: 28px;
  margin: 0 10px;
  cursor: pointer;
}

.header__toggle {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  border: 3px solid #7e7e7e;
  transition: 0.4s;
  border-radius: 34px;
}

.header__slider::before {
  position: absolute;
  top: -3px;
  left: -3px;
  content: "";
  height: 28px;
  width: 28px;
  background-color: black;
  transition: color 0.4s ease-in-out 0;
  border-radius: 50px;
}

.header__toggle:checked + .header__slider::before {
  transform: translate(28px);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: red;
}

.header__slider:hover {
  border: 3px solid black;
  color: black;
}

.header__toggle_text_section {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;
  justify-content: space-evenly;
}

.header__toggle_text_f {
  z-index: 5;
  margin: 0;
  position: absolute;
  left: -3px;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.header__toggle_text_c {
  z-index: 5;
  margin: 0;
  position: absolute;
  left: 23px;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.header__toggle_text_active {
  color: white;
}

.header__profile-link {
  text-decoration: none;
  color: black;
}
